.preguntas{
    font-family: 'Times New Roman', Times, serif;
     margin: 20px;
}

.titulos{
    font-family: 'Times New Roman', Times, serif;
}

.respuesta{
    font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: aqua;
}