.preguntas{
    font-family: 'Times New Roman', Times, serif;
     margin: 20px;
}

.titulos{
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    text-align: center;
}

.respuesta{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
       
}

div{
    background-color: aqua;
}

body{
 background-color: whitesmoke;
}
